.vbox_background_center{
    -fx-background-image: url("../images/zephyr-login.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
/*-- Animacion para el boton --*/

#loginButton:hover {
    -fx-background-color: #333333;
    -fx-cursor: hand;
}