.vbox_background_center{
    -fx-background-image: url("../images/zephyr-login.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}