.details-pane .label {
    -fx-font-weight: bold;
}

.details-pane .text-field,
.details-pane .password-field,
.details-pane .combo-box {
    -fx-pref-width: 100%;
    -fx-border-color: -border-color;
    -fx-background-color: #f9f9f9;
    -fx-border-radius: 5px;
}


.combo-box .list-cell{
    -fx-text-fill: -text-color-primary;
}

.combo-box .combo-box-popup .list-cell{
    -fx-text-fill: -text-color-primary;
}

.combo-box .cell{
    -fx-text-fill: -text-color-primary;
}

.combo-box .list-cell:hover{
    -fx-background-color: #f0f0f0;
}