.grid-pane .label {
    -fx-font-weight: bold;
}

.grid-pane .text-field,
.grid-pane .password-field,
.grid-pane .combo-box {
    -fx-pref-width: 100%;
    -fx-border-color: -border-color;
    -fx-background-color: #f9f9f9;
    -fx-border-radius: 5px;
}